{% extends 'base/main.html' %}

{% block content %}
<header class="header-bar" style="justify-content: center !important;">
    <div>
        <h1>Login</h1>
    </div>
</header>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input style="margin: 10px 10px;" type="submit" value="Login">
    </form>
    <div>
        Don't have account ? <u><a style="color: black;" href="{% url 'registration' %}">Register</a></u>
    </div>
</div>

{% endblock content %}